body {
    font-size: 20px;
    background: linear-gradient(41deg, rgb(24, 23, 24) 0%, rgba(69, 149, 210, 1) 100%);
    margin: 0;
    font-family: 'Roboto-Regular', sans-serif;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
}

img {
    width: 1728x;
    max-width: 100%;
    filter: drop-shadow(5px 5px 5px rgba(31, 38, 135, 0.37));
}

.app {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border-radius: 15px;
    width: 40%; /* Limita a largura */
    padding: 1em;
    margin: 0 4em;
}

.título {
    font-size: 36px;
    text-align: center;
    background-color: rgb(46, 61, 159);
    padding: 0.6em;
    border-radius: 0.5em;
    margin-bottom: 0.2em;
    text-transform: uppercase;
}

.link {
    display: block;
    text-decoration: none;
    color: rgb(105, 152, 192);
    text-align: center;
    padding: 0.6em;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
    transition: background 0.3s ease, transform 0.2s ease;
    margin: 0.2em;
    text-transform: uppercase;
}

.link:hover {
    background: rgba(69, 149, 210, 0.5);
    transform: translateY(-2px);
    color: white;
}
